.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  margin: 92px 50px 96px 50px;
  font-size: 18px;
}

.header__menu {
  display: flex;
  flex-direction: column;
  justify-self: start;
}

.header__links-list {
  display: flex;
  justify-self: start;
  gap: 33px;
  max-width: 389px;
}

.header__links-list-item {
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link_active {
  text-decoration: none;
}

.header__link {
  text-decoration-thickness: 1px;
  text-decoration-skip-ink: none;
  text-underline-offset: 3px;
}

.header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__logo-image {
  display: block;
  width: 148px;
  height: 105px;
}

.address {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  font-style: normal;
  line-height: 24px;
  text-decoration-skip-ink: none;
  text-underline-offset: 3px;
}

.header__address {
  justify-self: end;
  max-width: 236px;
  margin-right: 3px;
}

.menu-list .menu-list-active {
  list-style: none;
}

.menu-list-active .menu-item-active {
  text-decoration: none;
}

/*--------------main-----------------*/
.cover {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 757px;
  padding: 165px 50px 50px 50px;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.font-bright {
  color: #fff;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 0.6);
}

.cover__title {
  display: flex;
  flex-direction: column;
  gap: 17px;
}

.aligned-text {
  display: block;
  gap: 50px;
  width: 100%;
  font-weight: bold;
  font-size: 100px;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.aligned-text-left {
  text-align: left;
}

.aligned-text-center {
  text-align: center;
}

.aligned-text-right {
  text-align: right;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cover__description-text {
  max-width: 637px;
  font-weight: normal;
  font-size: 22px;
  text-transform: uppercase;
  word-spacing: 18.5px;
}

.bet-button {
  min-width: 140px;
  border: 1px solid #fff;
  padding: 12px 32px;
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
  background: transparent;
}

/*----------------lots---------------*/
.lots {
  display: block;
  margin: 180px 24px 120px;
}

.lots__heading {
  padding: 0 891px 27px 40px;
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 25px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.lots__card-list-items {
  max-width: 334px;
  min-height: 596px;
  color: #fff;
  font-size: 22px;
  list-style: none;
}

.card-link {
  height: 100%;
  text-decoration: none;
}
.card {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 48px 40px;
  background-position: center;
  background-size: cover;
}

.card-type-film {
  background-image: url(../images/card-lot-01.jpg);
}

.card-type-book {
  background-image: url(../images/card-lot-02.jpg);
}

.card-type-picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  font-weight: bold;
  font-size: 22px;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
  text-transform: uppercase;
}

.card__text {
  font-size: 20px;
  text-transform: none;
}

.lots__look-more-link {
  display: block;
  margin: 30px 40px 0;
  font-weight: normal;
  font-size: 20px;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-decoration-skip-ink: none;
  text-underline-offset: 5px;
}

/*----------------about---------------*/
.about {
  display: grid;
  grid-template-columns: 334px auto;
  column-gap: 25px;
  margin: 0 24px 180px;
}

.about__column-logo {
  justify-items: center;
}

.about__logo {
  content: "";
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  margin-top: 35px;
  border-radius: 50%;
  background-color: black;
}

.about__logo-image {
  display: block;
  width: 148px;
  height: 114px;
}

.about__column {
  display: grid;
  grid-template-rows: auto;
  row-gap: 100px;
  margin-top: 136px;
}

.about__title {
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-right: 24px;
  font-size: 20px;
  text-transform: none;
}

/*---------------footer---------------*/

.footer {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  margin: 0 50px 82px;
  font-size: 18px;
}

.footer__menu {
  display: flex;
  flex-direction: column;
  justify-content: start;
  font-size: 18px;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__menu-list-item {
  list-style: none;
}

.footer__menu-link {
  text-decoration-thickness: 1px;
  text-decoration-skip-ink: none;
  text-underline-offset: 4px;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__address {
  justify-content: start;
}

.footer__social-list {
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 48px;
  list-style: none;
}

.footer__social-list-item {
  justify-items: end;
  list-style: none;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}
